{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "useBuiltIns": true,
        "pragmaFrag": "h.Fragment"
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
